
.register-header{
    display: block;
    height: 100px;
    padding: 20px 0px;
    border: 1px solid #ebedf0;
}
.register-body{
    display: block;
    padding: 30px 0;
    width: 100vw;
    max-width: 100%;
    height: auto;
    overflow-x: hidden !important;
}
.register-footer{
     display: block;
    height: 55px;
 }